.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', sans-serif; 
}

.CalcContainer {
  border-radius: 10px; 
  padding: 20px;
  text-align: center;
  height: 500px;
  width: 500px; 
}

.CalcContainer h1 {
  color: #333; 
  font-size: 28px; 
  margin-bottom: 20px;
}


.CalcuDisplay {
  background-color: #333; 
  border: 1px solid #555; 
  font-size: 25px; 
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -10px;
  color: white;
  width: 100%;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.CalcuButtonNum{

  font-size: 35px;
}

.CalcuButton {
  background-color: #e0e0e0; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 28px; 
  padding: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.1s;
}

.CalcuButton:hover {
  background-color: #ccc; 
  transform: scale(1.05); 
}

.OperatorButton {
  background-color: black;
  color: #fff;
  font-weight: bold; 
}

.EqualsButton {
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
}

.CalcuButtonName {
  background-color: #555;
  border: 1px solid #357ae8;
  margin-top: 2.5%;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  border-radius: 5px;
  width: 100%; 
}

body {
  background: #000;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border {
  width: 543px;
  height: 540px;
  position: relative;
  background: #111;
  padding: 4px;
}
.moving-border::before,
.moving-border::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), 
    #032146,  #C3F2FF, #b00);
  animation: rotate 2s linear infinite;
}
.moving-border::after {
  filter: blur(10px);
}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}
